.paginator-button {
  @apply tw-inline-flex
  tw-items-center
  tw-px-4
  tw-py-2
  tw-font-medium
  tw-shadow-lg

  tw-bg-primary-dark
  tw-border-primary-light
  tw-text-light-light
  
  hover:tw-bg-primary-light
  hover:tw-text-gray-100  
  hover:tw-border-primary-light

  dark:tw-bg-primary-light
  dark:tw-border-primary-light
  dark:tw-text-dark-dark
  
  dark:hover:tw-bg-primary-dark
  dark:hover:tw-text-gray-900
  dark:hover:tw-border-primary-dark;
}

.highlight-text {
  @apply tw-font-semibold tw-text-gray-800 dark:tw-text-white;
}
