.icon-small {
  transform: scale(0.5);
}

.search-bar-input {
  @apply tw-border-2
  tw-border-gray-300
  tw-bg-white
  tw-h-12
  tw-px-5
  tw-pr-16
  tw-rounded-lg;
}

.search-bar-button {
  @apply tw-bg-transparent
  tw-border-transparent
  tw-cursor-pointer
  tw-absolute
  tw-right-1
  tw-top-3
  tw-w-16
  tw-rounded-lg
  tw-h-10;
  // tw-mr-2;
  background-color: #d2e9e9;
}

.search-bar-button:hover {
  @apply tw-bg-gray-800
  tw-text-white;
  background-color: #c4dfdf;
}
