.icon-small {
  transform: scale(0.5);
}

.search-bar-input {
  @apply tw-border-2
  tw-border-none
  tw-bg-white
  tw-h-12
  tw-px-5
  tw-pr-16
  tw-drop-shadow-lg
  tw-rounded-lg;
}

.search-bar-button {
  @apply tw-bg-transparent
  tw-border-transparent
  tw-cursor-pointer
  tw-absolute
  tw-right-1
  tw-top-1
  tw-w-16
  tw-rounded-lg
  tw-h-10
  
  tw-bg-secondary-dark
  hover:tw-bg-secondary-light
  
  dark:tw-bg-secondary-light
  dark:hover:tw-bg-secondary-dark
  dark:tw-text-primary-dark;
  // tw-mr-2;
}
