a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.icon-small {
  transform: scale(0.5);
}
table {
  table-layout: fixed;
}

table th {
  overflow-wrap: break-word;
}
.table-cell {
  @apply tw-border
  tw-text-white
  tw-border-blue-500;
  overflow-wrap: break-all;
}
.table-button {
  @apply tw-font-semibold
  tw-py-2
  tw-px-4
  tw-border
  tw-text-white
  tw-border-blue-500;
  overflow-wrap: break-word;
}

.table-button:hover {
  @apply tw-border-transparent;
  cursor: pointer;
  background: linear-gradient(146deg, purple 19.67%, violet 127.56%);
}
