a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.icon-small {
  transform: scale(0.5);
}
table {
  table-layout: fixed;
}

table th {
  overflow-wrap: break-word;
}

.table-header {
  @apply tw-px-4 tw-py-3
  tw-shadow-lg

  tw-text-light
  tw-bg-secondary-dark
  
  dark:tw-text-dark
  dark:tw-bg-secondary-light;
}

.table-cell {
  @apply tw-border
  tw-shadow-lg
  
  tw-text-light
  tw-bg-tertiary-dark
  
  tw-border-primary-light
  
  dark:tw-text-dark
  dark:tw-bg-tertiary-light;

  overflow-wrap: break-word;
}

.table-button {
  @apply tw-font-semibold
  tw-py-2
  tw-px-4
  tw-shadow-lg
  tw-cursor-pointer
  tw-border-transparent
  tw-text-light
  

  tw-bg-tertiary-dark 
  dark:tw-bg-tertiary-light 
  dark:tw-text-dark
  
  hover:tw-bg-tertiary;

  overflow-wrap: break-word;
}
