<div class="header">
  <div>
    <a href="/">

      <img src="assets/logo.svg" alt="logo" class="header-title" />
    </a>
    <div class="header-subtitle">Search for books</div>
  </div>


  <div class="tw-flex tw-flex-row tw-items-start tw-bg-primary tw-rounded-8-px tw-p-2 tw-drop-shadow-xl">


    <div>

      <front-end-internship-assignment-search-bar [query]="query"
        (querySubmit)="onSearch($event)"></front-end-internship-assignment-search-bar>
      <div id="filters" class="tw-column-1 " [hidden]="!filtersVisible">
        <div>
          <h1>Search By</h1>

          <button id="Author" class="filter-button tw-mr-2" (click)="selectFilter('Author')">Author</button>
          <button id="Title" class="filter-button tw-mr-2" (click)="selectFilter('Title')">Title</button>
          <button id="Open Search" class="filter-button tw-mr-2" (click)="selectFilter('Open Search')">Open
            Search</button>

        </div>
      </div>
    </div>
    <button class="filter-button tw-ml-2" (click)="toggleFilter()">Filter</button>

  </div>


  <button class="toggle-button" (click)="toggleTheme()"><mat-icon>
      {{ !isDark ? 'light_mode' : 'dark_mode' }}
    </mat-icon> </button>

</div>