.header {
  @apply tw-flex
  tw-bg-primary-dark
  tw-justify-between
  tw-items-start
  tw-rounded-8-px
  tw-p-4
  tw-text-white
  tw-drop-shadow-lg

  dark:tw-bg-primary-light;
}

.header-title {
  @apply tw-flex
  tw-h-12
  tw-text-24-px
  tw-drop-shadow-lg
  tw-font-600;
}

.header-subtitle {
  @apply tw-flex
  tw-mt-2
  tw-italic
  tw-text-16-px
  tw-drop-shadow-lg;
}

.filter-button {
  @apply tw-bg-transparent 
  tw-cursor-pointer
  
  tw-border-none 
  tw-h-12
  tw-rounded-8-px 
  tw-bg-white 

  tw-drop-shadow-lg
    
  dark:tw-bg-dark-light
  dark:hover:tw-bg-dark

  tw-bg-light-light
  hover:tw-bg-light

  tw-text-black
  dark:tw-text-light-dark;
}

.filter-button-selected {
  @apply tw-bg-transparent 
  tw-cursor-pointer
  
  tw-border-none 
  tw-h-12
  tw-rounded-8-px 
  tw-bg-white 

  tw-drop-shadow-lg
    
  dark:tw-bg-dark

  hover:tw-bg-light

  tw-text-black
  dark:tw-text-light-dark;
}

.toggle-button {
  @apply tw-bg-transparent 
  tw-cursor-pointer
  
  tw-border-none 
  tw-rounded-8-px 
  tw-bg-white 
  
  tw-p-2
  tw-drop-shadow-lg
  
  dark:tw-bg-dark-light
  dark:hover:tw-bg-dark-dark

  tw-bg-light
  hover:tw-bg-light-dark

  tw-text-yellow-400
  dark:tw-text-light-dark;
}
