<div class="tw-flex tw-mt-24-px tw-w-full tw-h-full tw-justify-start tw-items-start">
    <div class="tw-w-5/6">

        <div class="title tw-text-justify">
            Open Book Library

            Search Interface
        </div>
        <div class="subtitle tw-text-justify">
            You ask we provide!
        </div>
        <div class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-mt-24-px tw-gap-2">

            <button class="example-search-button">
                <a href="/search/harry potter">Search for "Harry Potter"</a>
            </button>

            <button class="example-search-button">
                <a href="/search/lord of the rings">Search for "Lord of The
                    Rings"</a>
            </button>

            <button class="example-search-button">
                <a href="/search/twilight">Search for "Twilight"</a>
            </button>

        </div>

    </div>

</div>