<div class="body">
  <front-end-internship-assignment-navbar>

  </front-end-internship-assignment-navbar>
  <ng-template *ngIf="isLoading; else main">
    <mat-spinner></mat-spinner>
  </ng-template>
  <ng-template #main>



    <front-end-internship-assignment-search-table-view [allDocs]="allDocs"
      [loading]="isLoading"></front-end-internship-assignment-search-table-view>
    <front-end-internship-assignment-paginator [num_found]="num_found"></front-end-internship-assignment-paginator>
  </ng-template>

</div>